[core]
	excludesfile = /Users/sargunv/.gitignore_global
	pager = less -+FX
	editor = nvim
[user]
	name = Sargun Vohra
	email = sargun.vohra@gmail.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.21.1/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.21.1/bin/gh auth git-credential
